* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {

    background-image: url(./img/wall.png);
    text-align: center;
    font-family: 'Edu TAS Beginner' , sans-serif ; 
    font-size: 40px ; 
}



body {

    background-image: url(./img/cork.png);
}



.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;       
  gap: 30px;            
  max-width: 1000px;    
  margin: 0 auto;       
  padding: 40px;
}

.card {
  background: white;
  padding: 15px;
  width: 260px;
  position: relative;
}

.card img {
  width: 100%;
  display: block;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
}

.pin {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);

}


